.container {
    --textColor: var(--white);
    --hColor: var(--white);
    background: linear-gradient(140deg, var(--pink) 10%, var(--blue));;
    padding: 40px 0 350px;
    margin-bottom: -350px;
    height: 950px;
    position: relative;
}

.container::before {
    content: '';
    background-image: url('/images/topservices.svg');
    background-size: cover;
    position: absolute;
    left: -2px;
    right: 0;
    top: -5px;
    height: 200px;
}

.title {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title p {
    text-align: center;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.buttonGroup button {
    background: rgba(255, 255, 255, 0);
    border-radius: 0;
    border: 2px solid #fff;
    font-size: 1.1rem;
    width: 250px;
}

.buttonGroup button:first-of-type {
    border-radius: 50px 0 0 50px;
}

.buttonGroup button:last-of-type {
    border-radius: 0 50px 50px 0;
}

.buttonGroup .active {
    background: var(--white);
    color: var(--purple);
}

.servicesContainer {
    display: flex;
    justify-content: center;
}

.service {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.summaryContainer {
    display: flex;
    align-items: center;
}

.summary {
    background: #210d37;
    padding: 100px 40px 40px;
    border-radius: 50px 0 0 50px;
    box-shadow: var(--shadow-3);
    position: relative;
}

.cornerContainer {
    position: absolute;
    top: -50px;
    left: -50px;
}

.details {
    --textColor: var(--black);
    --hColor: var(--black);
    background: var(--white);
    border-radius: 20px;
    padding: 40px;
    height: 450px;
    box-shadow: var(--shadow-3);
}